.part{
    /* background-image: url(../assets/footer.png); */
    background-repeat: no-repeat, repeat;
    background-size: cover;
    border: none;
}
.head{
    text-align: center;
 margin-right: 10px;
}

hr{
    width: 10%;
    margin-left: 45%;
    border: 1px dotted #007bff;
}
.main-content{
    display: flex;
    justify-content: space-evenly;
    
    margin-top: -100px;
    height: 50%;
}

.our{
    color: goldenrod;
}
.log{
    width: 300px;
    height: 300px
}

.log2{
    width: 150px;
    height: 100%;
   margin-top: 110px;
}

/* .image{
    height: 300px;
    width: 20%;
 
    border-radius: 5px solid grey;
    border-radius: 10px;
    border: 2px solid whitesmoke;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255);
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
} */

/* img{
    width: 100%;
    height: 100%
}
.image2{
    
    height: 300px
} */