.top-nav{
    display: flex;
    justify-content: center;
    background: black;
    position: fixed;
    left: 0;
    right: 0%;
    top: 0;
    z-index: 1;
    width: auto;
    
}

.top-nav a{
    font-family: "Archivo Black", sans-serif;
    display: flex;
    justify-content: flex-end;
    color: whitesmoke;
    text-decoration: none;
    padding-right: 2px;
    margin-left: 4px;
    font-size: small;
}

.menu-items{
    display: flex;
    flex-direction: row;
    background-color: whitesmoke;
    position: fixed;
    left: 0;
    right: 0;
    top: 17px;
    z-index: 1;
    width: auto;
  
}
.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-top: 15px;
    padding-bottom: 20px;
    margin-left: 40%;
    
    height: 30px;
   
  
    
}

.menu a{
    font-family: "Archivo Black", sans-serif;
    font-size: small;
    font-weight: 900;
    text-decoration: none;
    color: rgb(49, 38, 38);
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-left: 10px;
    padding-left: 20px;
    position: relative;
}
.menu a:hover{
    border-bottom: 5px solid #009bff;
    margin-left: 20px;
}
.logo{
    position: absolute;
    width: 10%;
    height: 100%;
    
    
}

.menu2 a{
    display: none;
    font-size: 1.5em;
    width: 300px;
    height: 15px;
    text-decoration: none;
    color: rgb(49, 38, 38);
   margin-bottom: 20px;
    padding-left: 20px;
    position: relative;
    top: 30px;
   
}

.disp{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    margin-top: 65px;
    margin-left: -546px;
    height: 20vh;
    width: 78em;
}

.menu2 .Hamburger{
    display: none;
}

.logo img{
width: 70%;
height: 100%;
margin-left: 20px;

}

@media screen and (max-width: 950px) {
    .menu{
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        margin-top: 15px;
        padding-bottom: 20px;
        margin-left: 20%;
        height: 30px;
    }

    .menu a{
        font-family: "Archivo Black", sans-serif;
        font-size:0.73em;
        font-weight: 900;
        text-decoration: none;
        color: rgb(49, 38, 38);
        display: flex;
        flex-direction: row;
        margin-top: 30px;
        margin-left: 10px;
        padding-left: 20px;
        position: relative;
    }
}



@media screen and (max-width: 600px) {
    .top-nav{
        display: flex;
        justify-content: center;
        background: black;
        position: fixed;
        left: 0%;
        right: 0;
        top: 0;
        z-index: 1;
        width: auto;
      
        
    }
    .top-nav a{
        display: flex;
        justify-content: flex-start;
        color: whitesmoke;
        text-decoration: none;
        padding: 2px;
        margin-right: 2px;
        font-size: 8px;
    }
    .menu-items{
        display: flex;
        flex-direction: row;
        background-color: whitesmoke;
        position: fixed;
        left: 0;
        right: 0;
        width: auto;
        top: 15px;
        z-index: 1;
        
    }

    .disp{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        border-top: 1px solid blue;
       width: auto;
       right:20px;
      
       height: auto;
        background-color: whitesmoke;
     
    }
    .disp a{
        padding-top: 2px;
        position: absolute;
        margin-left: 50px;
    }
    .menu a{
       display: none;
    }
    .logo{
        background: whitesmoke;
        width: 30%;
    }
    .logo img{
        width: 100%;
        height: 100%;
       margin-left: 0px;
      
    }

    .menu2{
       
    }

     .menu2 a{
        display: flex;
        position: relative;
       left: 50px;
        font-size: small;
        
        top: 0;
        z-index: 1;
    }
    .menu2 .Hamburger{
        display: flex;
        position: absolute;
        left: 335px;
        top: -100%;
        cursor: pointer;
        
    }
    
    
}
