.top-nav {
    display: flex;
    justify-content: center;
    background: black;
    position: fixed;
    left: 0;
    right: 0%;
    top: 0;
    z-index: 1;
    width: 100%;

}

.top-nav a {
    font-family: "Archivo Black", sans-serif;
    display: flex;
    justify-content: flex-end;
    color: whitesmoke;
    text-decoration: none;
    padding-right: 2px;
    margin-left: 4px;
    font-size: small;
}

.menu-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #024B7B;
    position: fixed;
    left: 0;
    right: 0;
    top: 15px;
    z-index: 1;
    width: 100%;
    overflow: hidden;

}

.menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-decoration: none;
    margin-top: 15px;
    padding-bottom: 20px;
    padding-right: 20px;
    margin-left: 40%;
    /* background-color: red; */
    /* height: 35px; */
    /* width: 50%; */
    /* flex: 50%; */
    /* position: relative; */
}



.menu a {
    font-family: "Archivo Black", sans-serif;
    font-size: small;
    font-weight: 900;
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-left: 10px;
    padding-left: 20px;
    position: relative;
}

.menu a:hover {
    border-bottom: 5px solid #DAA520;
    margin-left: 20px;
}

.logo {
    /* position: absolute; */
    width: 15%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex: 10%; */
    background-color: whitesmoke;

}

.logo img {
    width: 60%;
    height: 60%;
    margin-left: 20px;

}

.menu2 a {
    display: none;
    font-size: 1.5em;
    /* width: 300px; */
    height: 15px;
    text-decoration: none;
    color: rgb(49, 38, 38);
    margin-bottom: 20px;
    padding-left: 20px;
    position: relative;
    top: 30px;

}

/* .dispMobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 100%;
    margin-top: 65px;
    margin-left: -546px;
    z-index: 999;
    height: 100vh;
    width: 78em;
} */

.menu2 .Hamburger {
    display: none;
}


@media screen and (max-width: 1500px) {
    .menu {
        width: 90%;
        /* background-color: #DAA520; */

    }
}

@media screen and (max-width: 1300px) {
    .menu {


        width: 90%;
        /* background-color: #DAA520; */

    }

    
}


@media screen and (max-width: 950px) {
    .menu {
        padding-bottom: 20px;
        /* background-color: red; */
        width: 40%;
    }

    .menu a {
        font-family: "Archivo Black", sans-serif;
        font-size: 0.73em;
        font-weight: 900;
        text-decoration: none;
        padding-left: 10px;
       
    }
        .logo {
            background: whitesmoke;
            width: 20%;
            height: 20%;
        }
    
        .logo a img {
            width: 100%;
            height: 100%;
            margin-left: 0px;
    
        }
}



@media screen and (max-width: 600px) {


    .top-nav {
        display: flex;
        justify-content: center;
        background: black;
        position: fixed;
        left: 0%;
        right: 0;
        top: 0;
        z-index: 1;
        width: auto;


    }

    .top-nav a {
        display: flex;
        justify-content: flex-start;
        color: whitesmoke;
        text-decoration: none;
        padding: 2px;
        margin-right: 2px;
        font-size: 8px;
    }

    .menu-items {
        display: flex;
        flex-direction: row;
        background-color: #024B7B;
        position: fixed;
        left: 0;
        right: 0;
        width: auto;
        top: 15px;
        z-index: 1;

    }

        .menu2 .dispMobile {
            
            
            position: fixed;
            border-top: 1px solid whitesmoke;
            width: 90%;
            right: 0;
            left: 0;
            bottom: 0;
            /* top: 70px; */
            top: 75px;
            /* z-index: 999; */
            height: 30vh;
            background-color: whitesmoke;
    
        }



       .dispMobile a {
        padding-top: 2px;
        /* position: absolute; */
        margin-left: -50px;
        width: 90%;
        /* background-color: #DAA520; */
    }

    .menu {
        display: none;
    }

    .logo {
        background: whitesmoke;
        width: 20%;
        height: 20%;
    }

    .logo a img {
        width: 100%;
        height: 100%;
        margin-left: 0px;

    }

    .menu2 {
        z-index: 899;
    }

    .menu2 a {
        display: flex;
        position: relative;
        left: 50px;
        font-size: small;

        top: 0;
        z-index: 1000;
    }

    

    .menu2 .Hamburger {
        display: flex;
        align-items: center;
        justify-content: center;
        color: whitesmoke;
        position: absolute;
        left: 80%;
        right: 0;
        top: 10%;
        bottom: 0;
        cursor: pointer;
        /* background-color: white; */
    }


}