.top-nav{
    display: flex;
    justify-content: flex-end;
    background: black;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    
}

.top-nav a{
    display: flex;
    justify-content: flex-end;
    color: whitesmoke;
    text-decoration: none;
    padding-right: 2px;
    margin-left: 4px;
    font-size: small;
}

.menu-items {
    display: flex;
    flex-direction: row;
    background-color: whitesmoke;
    position: fixed;
    left: 0;
    right: 0;
    top: 17px;
    z-index: 1;
  
}
.menu-ind-item{
    display: flex;
    text-decoration: none;
    color: whitesmoke;
}

.menu-ind-item a{
    text-decoration: none;
    color: rgb(49, 38, 38);
    margin-top: 45px;
    padding-left: 20px;
    position: relative;
}

.menu-ind-item a::after{
    content: '';
    border-radius: 3px solid blue;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(10px);
    transition: transform 0.3s ease;
    opacity: 0;
    height: 100%;
    width: 100%;
}

.menu-ind-item a:hover::after{
    opacity: 0;
    transform: translateY(0);
    background-color: rgb(3, 27, 19);
}

.logo{
    width: 50%;
    height: 50%;
}

.logo img{
width: 15%;
height: 15%;



}
