.company{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: -20%;
}

.text-head{
    color: #010305;
}

.company-text{
    /* background-image: url(../assets/footer.png); */
    height: 70%;
    color: #22465e;;
    width: 30%;
    margin-left: 70px;
    border-bottom: 20px solid #bcc1c5;
    border-radius: 10px;
    line-height: 2;
    padding: 20px;
    text-align: justify;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255);
    
}

.company-text h1, hr{
    text-align: center;
}

.company-text hr{
    width: 100%;
    margin-left: -1%;
}

.company-text span{
    color: goldenrod;
}



.btn{
    background: #0099ff;
    width: 100px;
    height: 30px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 10px 20px rgba(0, 0, 40, 0.2), 0px 6px 5px rgba(0, 0, 40, 0.2);
    padding: 10px;
    color: #fff;

}

.section2{
    width: 65%;
    padding: 20px;
}

.section3{
    display: flex;
    width: 60%;
    border-bottom: 20px solid #bcc1c5;
    border-radius: 10px;
    padding: 20px;
    margin-left: 100px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255);
    z-index: 100;
}

.section3 img{
    width: 15%;
    height: 15%;
    border-radius: 20%;
    margin: 30px;
}

.mid{
    margin-left: 200px;
}
.last{
    margin-left: 300px;
}