/* .company::before{
    content: '';
    position: absolute;
    margin-top: -145%;
    width: 100%;
    height: 200px;
    background: white;
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
    
  } */
 .company{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    background-image: url(../assets/backimg.png);
    background-size: cover;
    background-repeat: no-repeat, repeat;
}

.com{
    border-radius: 1% 99% 26% 74% / 49% 25% 75% 51% ;
    background: linear-gradient(225deg, gold 0%, #030302 100%);
    height: 460px;
    width: 460px;
    position: absolute;
  
    margin-right: 300px;
    margin-top: -55px;
    opacity: 0.6;
}
.section{
    margin-top: 3%;
}

.text-head{
    color: #010305;
}

.company-text{
    /* background-image: url(../assets/footer.png); */
    height: 70%;
    color: #22465e;;
    width: 70%;
    margin-left: 300px;
    border-bottom: 20px solid #bcc1c5;
    border-radius: 10px;
    line-height: 2;
    padding: 50px;
    text-align: justify;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255);
    
}

.company-text p{
    line-height: 2;
    font-size: 1.5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.company-text img{
    width: 100%;
    height: 800px;
}

.text-head{
    text-align: center;
    margin-top: -20px;
    justify-content: center;
    
}

.text-head hr{
    width: 10%;
   /* margin-left: 800px; */
}

.text-head span{
    color: goldenrod;
}



/* .btn{
    background: #0099ff;
    width: 100px;
    height: 30px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 10px 20px rgba(0, 0, 40, 0.2), 0px 6px 5px rgba(0, 0, 40, 0.2);
    padding: 10px;
    color: #fff;

} */

.section2{
    width: 100%;
   z-index: 0;
    background-image: url(../assets/back.jpg);
    background-size: cover;
    background-repeat: no-repeat, repeat;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.prod{
    text-align: center;
}
.prod span{
    color: #0099ff;
}
.svm{
    width: 20%;
    height: 50%;
    margin-bottom: 0;
    margin-top: -2%;
    margin-left: 80px;
    position: absolute;
    background: radial-gradient(circle at top,  #0099ff , #030302);
    
}
.section3{
    width: 20%;
    height: 600px;
    border: none;
    border-bottom: 20px solid #bcc1c5;
    border-radius: 10px;
    z-index: 0;
    margin: 30px;
    margin-bottom: 30px;
    
    
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255);
    
}

.section3 img{
    width: 100%;
    height: 50%;

    border-radius: 10px;
    z-index: 0;
}

.section3 p{
    line-height: 1.5;
    color: rgb(197, 176, 176);
    font-size: 1.2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    z-index: 0;
}
.bolb{
    border-radius: 100% 0% 22% 78% / 46% 2% 98% 54% ;
    height: 460px;
    width: 460px;
    background: radial-gradient(circle at top,  #0099ff , #030302);
    margin-top: 50%;
    position: absolute;
    margin-left: 75%;

   
}

