/* .main-hero{
    background-image: url(../assets/hero3.png);
    background-size: cover;
    background-repeat: no-repeat, repeat;
    height: 100vh;
}
.hero-text{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin-top: 130px;
}

.hero-bolb{
  border-radius:1% 99% 45% 55% / 77% 42% 58% 23%; 
    height: 400px;
    width: 400px;
    background: radial-gradient(circle at top,  #0099ff , #030302);
    margin-top: 3%;
    position: absolute;
    margin-left: -2%;
}

.text{
    background-color:#0099ff;
  background-image: linear-gradient(45deg, #1a9cf3,  #0099ff);
  background-size: 100%;
  background-repeat: repeat;

    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

h1 {
    font-family: "Archivo Black", sans-serif;
    font-weight: 900;
    font-size: 2em;
    text-align: left;
    margin-bottom: 0;
    margin-left: 5%;
    margin-top: 50px;
   
  }

  h2{
    font-family: "Archivo Black", sans-serif;
    font-weight: 900;
    color: goldenrod;
    font-size: 1.7em;
    text-align: left;
    margin-bottom: 0;
    margin-top: -10px;
    margin-left: 5%;
  }

  .gsm{
    font-family: "Archivo Black", sans-serif;
    font-weight: 900;
    font-size: 1.5em;
    text-align: left;
    margin-bottom: 0;
    margin-left: 5%;
    color: #0099ff;
    margin-top: -5px;
  }

.info{
  font-family: "Archivo Black", sans-serif;
  text-transform: capitalize;
    font-weight: 150;
    font-size: 1.2em;
    text-align: left;
    margin-bottom: 0;
    margin-top: 7px;
    margin-left: 5%;
    color:#0099ff;
    width: 30%;
    text-align: justify;
   
}

  .circle{
    background: linear-gradient(45deg, #f3ec78, #af4261);
    position: absolute;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-left: 28%;
    
    
  }

  .edd{
    color: goldenrod;
  }

  .span1{
    background: #0099ff;
    padding: 10px 20px;
    color: #FFFFFF;
   margin-right: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-left: 250px;
    margin-top: 150px;
    position: absolute;
  }

  .span2{
    background: #FFFFFF;
    padding: 10px 50px;
    color: #1a9cf3;
    border: 1px solid #0099ff;
    border-radius: 10px;
   cursor: pointer;
    margin-left: 370px;
    margin-top: 150px;
    position: absolute;
  }
  svg{
   margin-top: 10vh;
    opacity: 0.2;
  
  }

  

  .circle2{
    background: linear-gradient(45deg, #D7E1EC, #FFFFFF);
    position: absolute;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-left: 5%;
    margin-top: 40px;
   
  }

  .circle2 p{
    margin-left: 5px;
    padding: 10px;
    color: #79abcc;
    font-weight: bolder;
  
  }

  

  .side-img{
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 100px;
    margin-left: 47%;
    height: 20rem;
    width: 42rem;
  }

  .connect{
    height: 29rem;
    width: 50rem;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(173, 151, 151, 0.2), 0 6px 20px 0 rgba(221, 210, 210, 0.19);
  }

  @media screen and (max-width: 950px) {
    .hero-bolb{
      border-radius:1% 99% 45% 55% / 77% 42% 58% 23%; 
        height: 300px;
        width: 100%;
        background: radial-gradient(circle at top,  #0099ff , #030302);
        margin-top: 3%;
        position: absolute;
        margin-left: -2%;
    }

    .side-img{
      margin-left: 0%;
      margin-top: 260px;
      width: 100%;
      height: 100%;
    }

    .hero-text{
      margin-top: 40px;
    }

    .info{
      width: 90%;
     line-height: 20px;
      font-size: 1em;
      color: white;
      width: 68%;
    }


    .span1{
      margin-top: 600px;
      margin-left: 40px;
    }

    .span2{
      margin-top: 600px;
      margin-left: 160px;
     
      
    }

    .circle2{
      display: none;
    }
    
  }

  @media screen and (max-width: 600px) {
    .hero-bolb{
      border-radius:1% 99% 45% 55% / 77% 42% 58% 23%; 
        height: 300px;
        width: 100%;
        background: radial-gradient(circle at top,  #0099ff , #030302);
        margin-top: 3%;
        position: absolute;
        margin-left: -2%;
    }
    .side-img{
      margin-left: 0%;
      margin-top: 245px;
      width: 100%;
      height: 100%;
    }
    .hero-text{
      margin-top: 40px;
    }
    .main-hero{
      width: 100%;
    }
    h1{
      font-size: 1.1em;
      
    }
    .text{
      background-color:#000000;
  background-image: linear-gradient(45deg, #050b0f,  #e9a20a);
  background-size: 100%;
  background-repeat: repeat;

    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
    }
    .span1{
      
      display: none;
      
    }

    .span2{
      
      display: none;
      
    }
    h2{
      color: #000000;
      font-size: 0.85em;
      margin-top: 2px;
    }
    .info{
      width: 90%;
      color: #000000;
      font-size: 0.8em;
      color: white;
      width: 68%;
    }
    .circle2{
      display: none;
    }
    .gsm{
      color: #000000;
      font-size: 0.85em;
      margin-top: 2px;
    }
    svg{
      display: none;
    }

  .edd{
      color: goldenrod;
    }

    
}
 */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@400;500;600&family=Roboto:wght@700&display=swap');

* {}


body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #F6F7FA;
  overflow-x: hidden;
}

.hero-sectionTxt {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 90vh;
  background-image: url('../assets/3dwall.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.content_hero {
  position: absolute;
  z-index: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  transform: translate(0%, -50%);
}

.hero-sectionTxt .content_hero .tourTech {
  /* font-size: 3em; */
  margin-bottom: 20px;
  /* background-color: antiquewhite; */
  /* color: black; */
  font-family: bignoodletitling;
  font-size: 50px;
}

.limited {
  color: #DAA520;
  background-clip: text;
  color: transparent;
  /* Make text color transparent */
  background-image: linear-gradient(to right, #DAA520, #CBCBCB);
}

.hero-sectionTxt .content_hero p {
  font-size: 1em;
  margin-bottom: 40px;
  /* color: black; */
  /* background-color: bisque; */
  line-height: 1.5em;
  text-align: center;
  width: 30%;
  /* text-transform: lowercase; */
}

.cta-button {
  display: inline-block;
  padding: 15px 30px;
  font-size: 1em;
  text-decoration: none;
  /* background-color: #34a4eb; */
  border: 2px solid RGB(220, 171, 48);
  color: #fff;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  /* background-color: #1d7fb7; */
  border: 1px solid RGB(220, 171, 48);
}

.vertical-line {
  border-left: 2px solid #DAA520;
  /* Adjust the color and thickness as needed */
  height: 100px;
  position: absolute;
  top: 100%;
}

.hero-background {
  width: 100%;
  height: 500px;
  background-color: transparent;
  /* border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%; */
  border-radius: 0 0 50% 50%/0 0 100% 100%;
  /* transform: rotate(180deg); */
  position: relative;
  box-shadow: 5px 0 10px 15px rgba(8, 8, 8, 0.9);
  transform: scaleX(1.2);
  overflow: hidden;
  background-color: #024B7B;

}



.hero-background:after {
  content: '';
  width: 100%;
  height: 500px;
  position: absolute;
  overflow: hidden;
  /* opacity: 0.9; */
  top: 0;
  bottom: 20px;
  background-color: #024B7B;


}

.heroBackImageSecon {
  position: absolute;
  z-index: 999;
  top: 6%;
  left: 65%;
  height: 80%;

}


.heroBackImage {
  transform: rotate(50deg);
}

.parentDivArrow {
  width: 50px;

  height: 50px;
  position: absolute;
  top: 63.5%;
  z-index: 99;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.divArrow {
  width: 30px;

  height: 30px;

  border-radius: 50%;
  border: 2px solid #DAA520;
  color: white;
  font-size: 1.5em;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(49, 37, 37);
}

.services {
  /* background-color: #1d7fb7; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 37%;
  /* margin-top: 20px; */
  height: 150px;
}

.parentServices {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;

}

.sectionName {
  font-size: 30px;
  font-family: bignoodletitling;
  font-weight: 700;
}

.ogaBoizMain a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 150px;
  font-size: 0.9em;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  cursor: pointer;
  text-decoration: none;
  color: black;

}

.ogaBoiz {
  width: 90px;

  height: 90px;

  border-radius: 50%;
  border: 2px solid #DAA520;
  padding: 5px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: antiquewhite; */
}

.ogaBoiz img {
  width: 90px;

  height: 90px;
  border-radius: 50%;
}

@media screen and (max-width: 1650px){
.heroBackImage {
    transform: rotate(65deg);
  }
}

@media screen and (max-width: 1250px) {
  .hero-sectionTxt .content_hero p {
    width: 40%;
  }

  .heroBackImage {
    transform: rotate(70deg);
  }
}

@media screen and (max-width: 1100px) {
  .hero-sectionTxt .content_hero p {
    width: 50%;
  }

  .heroBackImage {
    transform: rotate(75deg);
  }

  .heroBackImageSecon {

    left: 60%;

  }
}

@media screen and (max-width: 1000px) {
  .heroBackImage {
    display: none;
  }

  .heroBackImageSecon {
    display: none;
  }
}


@media screen and (max-width: 950px) {
  .hero-sectionTxt .content_hero p {
    width: 57%;
  }



  .services {

    width: 100%;

  }

  .ogaBoiz {
    width: 55px;

    height: 55px;
    font-size: 0.9em;
  }

  .ogaBoiz img {
    width: 55px;

    height: 55px;
    border-radius: 50%;
  }



  .parentDivArrow {

    top: 63%;

  }

  .hero-sectionTxt .content_hero .tourTech {
    font-size: 50px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .hero-sectionTxt .content_hero p {
    padding-left: 5px;
    padding-right: 5px;
  }

  .ogaBoizMain {
    font-size: 0.8em;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
}

@media screen and (max-width: 750px) {
  .hero-sectionTxt .content_hero .tourTech {
    margin-bottom: 10px;
    font-size: 25px;
    /* background-color: aqua; */
  }

  .hero-sectionTxt .content_hero p {
    font-size: 0.8em;
    font-weight: 100;
    width: 95%;
  }

    .hero-sectionTxt {
      height: 98vh;
    }
        .parentDivArrow {
          top: 66%;
        }
}